header{
    font-size: 60px;
    color: blanchedalmond;
    font-family: 
}

#geemailHeader{
    background-color: cornflowerblue;
}

#sidebar{
    background-color: lightcyan;
}

#msgArea{
    background-color: lightgray;

}